@model IEnumerable<Distribution.Models.Record>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-area="User" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractPicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PiradiNomeri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="User" asp-action="Details" asp-route-id="@item.Id">
                    <img src="~/Uploads/@item.ContractPictureName" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PiradiNomeri)
            </td>
            <td>
                <a asp-area="User" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-area="User" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-area="User" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
